<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DATA DAZZLER - DRUG PREDICTION</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <h1 class="name">
        
    </h1>
    
    <div class="square"></div>
    
    <div class="card">
        <div class="card-title-wrap">
            <h1 class="title">
                <span class="copy-wrap">
                    DRUG DISCOVERY
                </span>
            </h1>    
            <button class="btn hide">
                View
            </button>
        </div>
        <div class="card-img"></div>
        <div class="btn-container">
            <form action="/drug_discovery">
            <button style="width: 200px; height: 100px;" class="model-btn hide">Drug Discovery   </button>
            </form>
            <form action="/drug_interaction">
                <button style="width: 200px; height: 100px;" class="model-btn hide">Drug Interaction</button>
            </form>
        </div>
    </div>
    
    <h2 class="copyright">
        
    </h2>
    

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/PixiPlugin.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../static/java.js"></script>
</body>
</html>

